extends layout

block content
  script#thingItem(type="text/html")
    include thing_landing_item.jade
  script#moduleItem(type="text/html")
    include module_landing_item.jade
  div.row
    div.searchBox(class="col-md-5 col-md-offset-3")
      h2 What do you want to document?
      form(action="/module/create", method="GET",  data-ajax="false", role="form")
        .input-group
          input#searchField(name="name", autocomplete="off", placeholder="Start typing...", type="text", class="form-control")
          .input-group-btn
            input(type="submit", value="go", class="btn btn-primary")
    div#searchResults(class="hidden")
      .col-md-4.col-md-offset-2
        h3
          a(href="/module/list") Modules
        div#moduleList
      .col-md-4
        h3
          a(href="/thing/list") Things
        div#thingList
  script(src='/javascripts/landing.js')