extends layout

block content
  #directory.row
    div(id="header", class="col-md-12")
      h1= "IPO Tables"
      p Welcome to the IPO Directory
    .col-md-4.col-md-offset-2
      h3 Modules
      ul#mlist
    .col-md-4
      h3 Things
      ul#tlist
      form(method="post",action="/things/add",class="form-inline")
        input(placeholder="name",id="name",name="name")
        input(placeholder="description",id="description",name="description")
        input(type="submit",class="btn btn-default",value="Add")
  #module.row
    .col-md-3.col-md-offset-2
      h3 Inputs
      ul.input
    .col-md-3
      h3 Process
      .process
    .col-md-3
      h3 Outputs
      ul.output
  #thing.row
    .col-md-4.col-md-offset-2
      h3 Input of
      ul.output
    .col-md-4
      h3 Output of
      ul.input
