doctype html
html
  head
    title= "IPO Tables"
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/bootstrap.min.js')
  body
    block content
    block mainContent
