doctype html
html
  head
    title= "IPO Tables"
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/jquery.js')
    script(src='/javascripts/bootstrap.min.js')
  body
    div(id="header")
      a(href="/") 
        img(src="/images/logo.png", alt="IPO Tables")
      p &nbsp;

    - if(error != null) {
    div(class="alert alert-warning alert-dismissable")
      button(type="button", class="close", data-dismiss="alert", aria-hidden="true") &times;
      span= error.message
    - }
    - if(flash != null) {
    div(class="alert alert-info alert-dismissable")
      button(type="button", class="close", data-dismiss="alert", aria-hidden="true") &times;
      span= flash.message
    - }

    block content
    block mainContent
