.form-group
  label(for="moduleNameInput") Name
  input#moduleNameInput(required="required", name="name", value= module && module.name ? module.name : '', type="text", class="form-control")
.form-group
  label(for="moduleDescriptionInput") Description
  textarea#moduleDescriptionInput(required="required", name="description", type="text", class="form-control")= module && module.description ? module.description : ''
.form-group
  label(for="moduleWorkflowInput") Workflow
  textarea#moduleWorkflowInput(required="required", name="workflow", type="text", class="form-control")= module && module.workflow ? module.workflow : ''
