extends layout
include io_form

block mainContent
  h2=module.name
  div.well=module.description
  #module.row
    .col-md-3.col-md-offset-2
      h3 Inputs
      div.list-group
        each thing in module.inputs
          a.list-group-item(href="/thing/" + thing.id)=thing.name
      +io_form('input',module)
    .col-md-3
      h3 Process
      .process
    .col-md-3
      h3 Outputs
      div.list-group
        each thing in module.outputs
          a.list-group-item(href="/thing/" + thing.id)=thing.name
      +io_form('output',module)
  div
    a(href="/module/list") Back to Module list
