extends layout

block mainContent
  h2 Create Module
  form(action="/module/create", method="POST",  data-ajax="false", role="form")
    include module_form
    input.submit(type="submit", value="Create!", class="btn btn-primary")
  