a.list-group-item(href!="/thing/" + (!thing ? '<%=id%>' : thing.id))
  h4.list-group-item-heading!= !thing ? '<%=name%>' : thing.name
  p.list-group-item-text!= !thing ? '<%=description%>' : thing.description